---
title: Stemcell Release Notes
Owner: BOSH
---

This topic provides an overview of the Stemcell versions used by Pivotal Cloud Foundry (PCF).

Stemcells are available for download on the [Stemcells for PCF](https://network.pivotal.io/products/stemcells) page on Pivotal Network. Once downloaded, you can upload them to your deployment using the **Stemcell** configuration pane of a given tile. 

To find out which stemcell version is used by which tile version, check the release notes for the tile. 

Alternatively, if you have uploaded the tile, you can check the **Stemcell** configuration pane of the tile for PCF v2.0 and earlier or the Stemcell Library for PCF v2.1 or later. 

<p class="note"><strong>Note</strong>: A stemcell is a versioned OS image that BOSH uses to create VMs for the BOSH Director, Pivotal Application Service (PAS), and other PCF Service tiles, such as MySQL for PCF. For more information, see <a href="http://bosh.cloudfoundry.org/docs/stemcell.html">What is a Stemcell?</a> in the BOSH documentation.</p>

##<a id="linux"></a> Linux Stemcell Lines

This section lists Linux-based stemcells used in Pivotal Cloud Foundry.

######<a id="ubuntu"></a> Ubuntu Trusty Stemcells

Each stemcell line has a corresponding release notes section. See the links below:

* [Stemcell 3586.x Release Notes](./stemcells.html#3586-line)
* [Stemcell 3541.x Release Notes](./stemcells.html#3541-line)
* [Stemcell 3468.x Release Notes](./stemcells.html#3468-line)
* [Stemcell 3445.x Release Notes](./stemcells.html#3445-line)
* [Stemcell 3421.x Release Notes](./stemcells.html#3421-line)
* [Stemcell 3363.x Release Notes](./stemcells.html#3363-line)

###<a id="xenial"></a> Ubuntu Xenial Stemcells

Each stemcell line has a corresponding release notes section. See the links below:

* [Stemcell 97.x Release Notes](./stemcells.html#97-line)
* [Stemcell 87.x Release Notes](./stemcells.html#87-line)
* [Stemcell 81.x Release Notes](./stemcells.html#87-line)
* [Stemcell 60.x Release Notes](./stemcells.html#60-line)
* [Stemcell 50.x Release Notes](./stemcells.html#50-line)
* [Stemcell 40.x Release Notes](./stemcells.html#40-line)

## <a id="windows"></a> Windows Stemcell Lines

This section lists Windows-based stemcells used in Pivotal Cloud Foundry. Each stemcell line has a corresponding release notes section. See the links below:

* [Stemcell 1709.x (Windows Server version 1709) Release Notes](./windows-stemcell-v1709x.html)
* [Stemcell 1200.x (Windows2012R2) Release Notes](./windows-stemcell-v1200x.html)
