---
title: Stemcell Release Notes
Owner: BOSH
---

This topic provides an overview of the Stemcell versions used by Pivotal Cloud Foundry (PCF).

Stemcells are available for download on the [Stemcells for PCF](https://network.pivotal.io/products/stemcells) page on Pivotal Network.

For more information on available stemcells, see [Stemcell Release Notes](stemcells.html).

<p class="note"><strong>Note</strong>: A stemcell is a versioned OS image that BOSH uses to create VMs for the BOSH Director, Pivotal Application Service (PAS), and other PCF Service tiles, such as MySQL for PCF. For more information, see <a href="http://bosh.cloudfoundry.org/docs/stemcell.html">What is a Stemcell?</a> in the BOSH documentation.</p>


