---
title: Stemcell (Linux) Release Notes
owner: BOSH
modified_date: false
---

This topic includes release notes for Linux stemcells used with <%= vars.platform_name %>.


## <a id="jammy"></a> Jammy Stemcells 

The following sections describe each Jammy stemcell release. 

## <a id="xenial"></a> Xenial Stemcells 

The following sections describe each Xenial stemcell release. 

