---
title: Stemcell (Linux) Release Notes
owner: BOSH
---

This topic includes release notes for Linux stemcells used with Pivotal Cloud Foundry (PCF).


## <a id="xenial"></a> Xenial Stemcells 

The following sections describe each Xenial stemcell release. 

### <a id="97-line"></a> 97.x 

This section includes release notes for the 97 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="97-19"></a> 97.19

**Release Date**: October 02, 2018

Addresses "USN-3777-2: Linux kernel (HWE) vulnerabilities" (Oct 02, 2018)

#### <a id="97-18"></a> 97.18

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: September 24, 2018

Periodic Ubuntu Xenial stemcell bump (Sep 25, 2018)

#### <a id="97-17"></a> 97.17

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: September 18, 2018

Fixes mounting persistent disk issue with bosh-agent. (Sep 19, 2018)

#### <a id="97-16"></a> 97.16

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: September 10, 2018

Periodic Ubuntu Xenial stemcell bump (Sep 11, 2018)

#### <a id="97-15"></a> 97.15

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: August 27, 2018

Bump Ubuntu Xenial stemcells for "USN-3756-1: Intel Microcode vulnerabilities"

#### <a id="97-12"></a> 97.12

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: August 14, 2018

Bump Ubuntu Xenial stemcells for "USN-3740-2: Linux kernel (HWE) vulnerabilities"

#### <a id="97-10"></a> 97.10

**Release Date**: August 13, 2018

Periodic Ubuntu Xenial stemcell bump (Aug 14, 2018)

#### <a id="97-5"></a> 97.5

**Release Date**: August 08, 2018

Bump Ubuntu Xenial stemcells for "USN-3732-2: Linux kernel (HWE) vulnerability"

#### <a id="97-3"></a> 97.3

**Release Date**: July 30, 2018

Periodic Ubuntu Xenial stemcell bump (July 31, 2018)

### <a id="87-line"></a> 87.x 

This section includes release notes for the 87 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="87-4"></a> 87.4

**Release Date**: July 16, 2018

Periodic Ubuntu Xenial stemcell bump (July 16, 2018)

#### <a id="87-3"></a> 87.3

**Release Date**: July 11, 2018

Periodic Ubuntu Xenial stemcell bump (July 12, 2018)

#### <a id="87"></a> 87

**Release Date**: July 02, 2018

Periodic Ubuntu Xenial stemcell bump (July 2, 2018)

### <a id="81-line"></a> 81.x 

This section includes release notes for the 81 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="81"></a> 81

**Release Date**: June 19, 2018

- Periodic Ubuntu Xenial stemcell bump (June 18, 2018)

### <a id="60-line"></a> 60.x 

This section includes release notes for the 60 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="60"></a> 60

**Release Date**: June 04, 2018

- Periodic Ubuntu Xenial stemcell bump (June 4, 2018)

### <a id="50-line"></a> 50.x 

This section includes release notes for the 50 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="50"></a> 50

**Release Date**: May 23, 2018

- Light stemcells are available

### <a id="40-line"></a> 40.x 

This section includes release notes for the 40 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="40"></a> 40

**Release Date**: May 22, 2018

- First release of Ubuntu Xenial stemcells
- Notable differences from Ubuntu Trusty
  - Includes systemd instead of upstart
  - Includes 4.15 Linux Kernel instead of 4.4
  - Uses chronyd to sync time (runs as a daemon) instead of ntpdate
  - Does not include NFS utils by default

**Warning**: Do not _downgrade_ instances from Ubuntu Xenial to Ubuntu Trusty stemcells as it may corrupt persistent disk content since Trusty stemcells may decide to use sfdisk partitioner instead of parted partitioner selected by Xenial stemcells.

## <a id="trusty"></a> Trusty Stemcells 

The following sections describe each Trusty stemcell release. 

### <a id="3586-line"></a> 3586.x 

This section includes release notes for the 3586 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="3586-46"></a> 3586.46

**Release Date**: October 02, 2018

Addresses "USN-3776-2: Linux kernel (Xenial HWE) vulnerabilities" (Oct 02, 2018)

#### <a id="3586-43"></a> 3586.43

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: September 24, 2018

Periodic Ubuntu Trusty/CentOS stemcell bump (Sep 25, 2018)

#### <a id="3586-42"></a> 3586.42

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: September 10, 2018

Periodic Ubuntu Trusty/CentOS stemcell bump (Sep 11, 2018)

#### <a id="3586-40"></a> 3586.40

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: August 27, 2018

Bump Ubuntu Trusty stemcells for "USN-3756-1: Intel Microcode vulnerabilities"

### Known Issue
- On GCP, writing moderate amounts of data to a persistent disk and then migrating the disk will fail with: `Error: Timed out sending 'update_settings'`. See [#159511884](https://www.pivotaltracker.com/story/show/159511884)

#### <a id="3586-36"></a> 3586.36

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: August 14, 2018

Bump Ubuntu Trusty stemcells for "USN-3741-2: Linux kernel (Xenial HWE) vulnerabilities"

#### <a id="3586-35"></a> 3586.35

**Release Date**: August 13, 2018

Periodic Ubuntu Trusty/CentOS stemcell bump (Aug 14, 2018)

#### <a id="3586-27"></a> 3586.27

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: July 30, 2018

Periodic Ubuntu Trusty/CentOS stemcell bump (July 31, 2018)

#### <a id="3586-26"></a> 3586.26

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: July 16, 2018

Periodic Ubuntu Trusty stemcell bump (July 16, 2018)

#### <a id="3586-25"></a> 3586.25

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: July 02, 2018

- Periodic Ubuntu Trusty stemcell bump (July 2, 2018)

#### <a id="3586-24"></a> 3586.24

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: June 18, 2018

- Periodic Ubuntu Trusty stemcell bump (June 18, 2018)

#### <a id="3586-23"></a> 3586.23

**Release Date**: June 13, 2018

- We are continuing to investigate GCP stemcell compatibility issue from earlier version, but we did roll back BOSH Agent to an earlier version that seems to not trigger this problem
  - Note: This build does not include fixes to recently published CVE-2018-3665

#### <a id="3586-18"></a> 3586.18

**Release Date**: June 04, 2018

**WARNING**: 
We are currently investigating `unresponsive agent` issues when using the Google Cloud Platform version of this stemcell. In the meantime, please use `3586.16` when deploying to GCP.

- Periodic Ubuntu Trusty stemcell bump (June 4, 2018)

#### <a id="3586-16"></a> 3586.16

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 24, 2018

- Bump Ubuntu Trusty stemcells for "USN-3654-2: Linux kernel (Xenial HWE) vulnerabilities"

#### <a id="tls-compatible"></a> TLS for Internal Blobstore Supported

For Ops Manager v2.2 and later, you can enable TLS for your internal blobstore. Make sure you configured all tiles with a stemcell v3586 or later before enabling TLS for your internal blobstore.

For more information, see [TLS for Internal Blobstore Supported
](https://docs.pivotal.io/pivotalcf/2-2/pcf-release-notes/opsmanager-rn.html#tls-blobstore) in the Ops Manager release notes.

#### <a id="3586-8"></a> 3586.8

**Release Date**: May 21, 2018

- Periodic Ubuntu Trusty stemcell bump (May 21, 2018)

#### <a id="3586-7"></a> 3586.7

**Release Date**: May 09, 2018

- Bump Ubuntu Trusty stemcells for "USN-3641-1: Linux kernel vulnerabilities"

#### <a id="3586-5"></a> 3586.5

**Release Date**: May 08, 2018

- Bump s3cli to include AliCloud support
- Bump bosh-agent
  - Support network aliases (used by Softlayer CPI)
  - Support static routes for networks (used by Softlayer CPI)
  - Support iSCSI for persistent disks (used by Softlayer CPI)
  - Use parted when GPT partitions are detected
  - Refactor retryable strategy usages

### <a id="3541-line"></a> 3541.x 

This section includes release notes for the 3541 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="3541-52"></a> 3541.52

**Release Date**: October 02, 2018

Addresses "USN-3776-2: Linux kernel (Xenial HWE) vulnerabilities" (Oct 02, 2018)

#### <a id="3541-49"></a> 3541.49

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: September 24, 2018

Periodic Ubuntu Trusty/CentOS stemcell bump (Sep 25, 2018)

#### <a id="3541-48"></a> 3541.48

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: September 10, 2018

Periodic Ubuntu Trusty/CentOS stemcell bump (Sep 11, 2018)

#### <a id="3541-46"></a> 3541.46

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: August 27, 2018

Bump Ubuntu Trusty stemcells for "USN-3756-1: Intel Microcode vulnerabilities"

#### <a id="3541-44"></a> 3541.44

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: August 14, 2018

Bump Ubuntu Trusty stemcells for "USN-3741-2: Linux kernel (Xenial HWE) vulnerabilities"

#### <a id="3541-43"></a> 3541.43

**Release Date**: August 13, 2018

Periodic Ubuntu Trusty/CentOS stemcell bump (Aug 14, 2018)

#### <a id="3541-37"></a> 3541.37

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: July 30, 2018

Periodic Ubuntu Trusty stemcell bump (July 31, 2018)

#### <a id="3541-36"></a> 3541.36

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: July 16, 2018

Periodic Ubuntu Trusty stemcell bump (July 16, 2018)

#### <a id="3541-35"></a> 3541.35

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: July 02, 2018

- Periodic Ubuntu Trusty stemcell bump (July 2, 2018)

#### <a id="3541-34"></a> 3541.34

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: June 18, 2018

- Periodic Ubuntu Trusty stemcell bump (June 18, 2018)

#### <a id="3541-31"></a> 3541.31

**Release Date**: June 04, 2018

- Periodic Ubuntu Trusty stemcell bump (June 4, 2018)

#### <a id="3541-25"></a> 3541.25

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 09, 2018

- Bump Ubuntu Trusty stemcells for "USN-3641-1: Linux kernel vulnerabilities"

#### <a id="3541-30"></a> 3541.30

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 23, 2018

- Bump Ubuntu Trusty stemcells for "USN-3654-2: Linux kernel (Xenial HWE) vulnerabilities"

#### <a id="3541-26"></a> 3541.26

**Release Date**: May 21, 2018

- Periodic Ubuntu Trusty stemcell bump (May 21, 2018)

#### <a id="3541-24"></a> 3541.24

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 07, 2018

- Ubuntu Trusty stemcells periodic update (May 7, 2018)

#### <a id="3541-12"></a> 3541.12

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: April 06, 2018

- Bump Ubuntu Trusty stemcells for USN-3619-2: Linux kernel (Xenial HWE) vulnerabilities

#### <a id="3541-10"></a> 3541.10

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: March 26, 2018

- Periodic Ubuntu and CentOS stemcell bump (March 26/27, 2018)

#### <a id="3541-9"></a> 3541.9

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: March 12, 2018

- Periodic Ubuntu and CentOS stemcell bump (March 12, 2018)

#### <a id="3541-8"></a> 3541.8

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: March 08, 2018

- Bump bosh-agent to 2.67.1
  - Agent will now respect previously set permissions and owner on sys/run, sys/log and data job directories
  - This should fix stemcell compatibility with Diego/Garden if Agent restarts
    - If you were using 3541.x stemcell for any of your deployments, it's recommended to update your deployments to this version before updating Director since that would cause Agent restart


#### <a id="3541-5"></a> 3541.5

**Release Date**: February 22, 2018

- Bump Ubuntu Trusty stemcells for USN-3582-2: Linux kernel (Xenial HWE) vulnerabilities

#### <a id="3541-4"></a> 3541.4

**Release Date**: February 14, 2018

- Rolled back custom umask configuration as we found out it was different in some cases (depends on how processes were started)
  - Hardening of /var/vcap/jobs/* is still applied by the agent

#### <a id="3541-2"></a> 3541.2

**Release Date**: February 08, 2018

- [breaking] Set default umask to 077 and further harden several /var/vcap/* directories
  - Note that you may have to change your release to adapt to this change
- [breaking] Renamed /var/vcap/bosh/bin/ntpdate to /var/vcap/bosh/bin/sync-time
- [breaking] Stop forwarding SSH events to bosh-agent
  - Agent no longer receives and forwards such events to HM. This should remove a lot of noisy generated by releases that expect a lot of SSH sessions (eg Gitlab). This information will continue to be available in logs forwarded to remote destinations (and locally /var/log/auth.log).
- Fixes `env.bosh.swap_size: 0` to work on more clouds (including GCP)

Misc

- Order stemcell tarballs so that upload-stemcell command can execute faster
- Generate `packages.txt` within stemcell tarball that includes list of installed packages (previously known under different name)


### <a id="3469-line"></a> 3469.x 

This section includes release notes for the 3469 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="3469-1"></a> 3469.1

**Release Date**: February 27, 2018

- Stemcell produced for testing rsyslog bump to the latest version
  - Unless testing rsyslog, use 3468.x or 3541.x stemcell lines

### <a id="3468-line"></a> 3468.x 

This section includes release notes for the 3468 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="3468-73"></a> 3468.73

**Release Date**: October 02, 2018

Addresses "USN-3776-2: Linux kernel (Xenial HWE) vulnerabilities" (Oct 02, 2018)

#### <a id="3468-71"></a> 3468.71

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: September 24, 2018

Periodic Ubuntu Trusty stemcell bump (Sep 25, 2018)

#### <a id="3468-69"></a> 3468.69

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: September 10, 2018

Periodic Ubuntu Trusty stemcell bump (Sep 11, 2018)

#### <a id="3468-67"></a> 3468.67

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: August 27, 2018

Bump Ubuntu Trusty stemcells for "USN-3756-1: Intel Microcode vulnerabilities"

#### <a id="3468-64"></a> 3468.64

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: August 14, 2018

Bump Ubuntu Trusty stemcells for "USN-3741-2: Linux kernel (Xenial HWE) vulnerabilities"

#### <a id="3468-63"></a> 3468.63

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: August 13, 2018

Periodic Ubuntu Trusty stemcell bump (Aug 14, 2018)

#### <a id="3468-55"></a> 3468.55

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: July 30, 2018

Periodic Ubuntu Trusty stemcell bump (July 31, 2018)

#### <a id="3468-54"></a> 3468.54

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: July 16, 2018

Periodic Ubuntu Trusty stemcell bump (July 16, 2018)

#### <a id="3468-53"></a> 3468.53

**Release Date**: July 02, 2018

- Periodic Ubuntu Trusty stemcell bump (July 2, 2018)

#### <a id="3468-51"></a> 3468.51

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: June 18, 2018

- Periodic Ubuntu Trusty stemcell bump (June 18, 2018)

#### <a id="3468-47"></a> 3468.47

**Release Date**: June 04, 2018

- Periodic Ubuntu Trusty stemcell bump (June 4, 2018)

#### <a id="3468-42"></a> 3468.42

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 09, 2018

- Bump Ubuntu Trusty stemcells for "USN-3641-1: Linux kernel vulnerabilities"

#### <a id="3468-46"></a> 3468.46

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 23, 2018

- Bump Ubuntu Trusty stemcells for "USN-3654-2: Linux kernel (Xenial HWE) vulnerabilities"

#### <a id="3468-44"></a> 3468.44

**Release Date**: May 21, 2018

- Periodic Ubuntu Trusty stemcell bump (May 21, 2018)

#### <a id="3468-41"></a> 3468.41

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 07, 2018

- Ubuntu Trusty stemcells periodic update (May 7, 2018)

#### <a id="3468-30"></a> 3468.30

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: April 06, 2018

- Bump Ubuntu Trusty stemcells for USN-3619-2: Linux kernel (Xenial HWE) vulnerabilities

#### <a id="3468-28"></a> 3468.28

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: March 26, 2018

- Periodic Ubuntu and CentOS stemcell bump (March 26/27, 2018)

#### <a id="3468-27"></a> 3468.27

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: March 12, 2018

- Periodic Ubuntu and CentOS stemcell bump (March 12, 2018)

#### <a id="3468-26"></a> 3468.26

**Release Date**: March 01, 2018

- Includes updated `ixgbevf 4.3.4`

#### <a id="3468-25"></a> 3468.25

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: February 22, 2018

- Bump Ubuntu Trusty stemcells for USN-3582-2: Linux kernel (Xenial HWE) vulnerabilities

#### <a id="3468-22"></a> 3468.22

**Release Date**: February 05, 2018

- [Feb 5] Periodic stemcell bump

#### <a id="3468-21"></a> 3468.21

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 23, 2018

- No functional change from 3468.20, except version number

#### <a id="3468-20"></a> 3468.20

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 23, 2018

- Bump Ubuntu Trusty stemcells for [USN-3540-2: Linux kernel (Xenial HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3540-2/) (This flaw is known as Spectre.)

#### <a id="3468-19"></a> 3468.19

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 17, 2018

- Bump Ubuntu Trusty stemcells for USN-3534-1: GNU C Library vulnerabilities

#### <a id="3468-17"></a> 3468.17

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 10, 2018

- Bump Ubuntu Trusty stemcells for [USN-3522-4: Linux kernel (Xenial HWE) regression](https://usn.ubuntu.com/usn/usn-3522-4/)
- Configure vSphere stemcells to use VM hardware version 9 (requires ESXi 5.1) to be compatible with 
https://www.vmware.com/us/security/advisories/VMSA-2018-0004.html

#### <a id="3468-16"></a> 3468.16

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 10, 2018

- Bump Ubuntu Trusty stemcells for [USN-3522-2: Linux (Xenial HWE) vulnerability](https://usn.ubuntu.com/usn/usn-3522-2/) (This flaw is known as Meltdown.)

#### <a id="3468-15"></a> 3468.15

**Release Date**: December 15, 2017

- Bump Ubuntu Trusty stemcells for USN-3509-4: Linux kernel (Xenial HWE) regression

#### <a id="3468-13"></a> 3468.13

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: December 08, 2017

- Bump Ubuntu Trusty stemcell USN-3509-2: Linux kernel (Xenial HWE) vulnerabilities

#### <a id="3468-12"></a> 3468.12

**Release Date**: December 06, 2017

- Bump Ubuntu Trusty stemcells for USN-3505-1: Linux firmware vulnerabilities


#### <a id="3468-11"></a> 3468.11

**Release Date**: November 21, 2017

- Periodic Ubuntu stemcells update
- Includes Agent changes to support IPv6 on vSphere (manual networking)

#### <a id="3468-5"></a> 3468.5

**Release Date**: October 26, 2017

- Configure `/tmp` to have sticky bit set

#### <a id="3468-1"></a> 3468.1

**Release Date**: October 23, 2017

- Periodic stemcell bump

#### <a id="3468"></a> 3468

**Release Date**: October 05, 2017

- Removed password authentication for Warden stemcells
- Various minor tweaks that were already backported to older lines

Upcoming features on this stemcell line:

- IPv6 support for vSphere

### <a id="3445-line"></a> 3445.x 

This section includes release notes for the 3445 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="3445-71"></a> 3445.71

**Release Date**: October 02, 2018

Addresses "USN-3776-2: Linux kernel (Xenial HWE) vulnerabilities" (Oct 02, 2018)

#### <a id="3445-68"></a> 3445.68

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: September 24, 2018

Periodic Ubuntu Trusty stemcell bump (Sep 25, 2018)

#### <a id="3445-67"></a> 3445.67

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: September 10, 2018

Periodic Ubuntu Trusty stemcell bump (Sep 10, 2018)

#### <a id="3445-66"></a> 3445.66

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: August 27, 2018

Bump Ubuntu Trusty stemcells for "USN-3756-1: Intel Microcode vulnerabilities"

#### <a id="3445-64"></a> 3445.64

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: August 14, 2018

Bump Ubuntu Trusty stemcells for "USN-3741-2: Linux kernel (Xenial HWE) vulnerabilities"

#### <a id="3445-63"></a> 3445.63

**Release Date**: August 13, 2018

Periodic Ubuntu Trusty stemcell bump (Aug 14, 2018)

#### <a id="3445-55"></a> 3445.55

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: July 30, 2018

Periodic Ubuntu Trusty stemcell bump (July 31, 2018)

#### <a id="3445-54"></a> 3445.54

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: July 16, 2018

Periodic Ubuntu Trusty stemcell bump (July 16, 2018)

#### <a id="3445-53"></a> 3445.53

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: July 02, 2018

- Periodic Ubuntu Trusty stemcell bump (July 2, 2018)

#### <a id="3445-51"></a> 3445.51

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: June 18, 2018

- Periodic Ubuntu Trusty stemcell bump (June 18, 2018)

#### <a id="3445-49"></a> 3445.49

**Release Date**: June 04, 2018

- Periodic Ubuntu Trusty stemcell bump (June 4, 2018)

#### <a id="3445-48"></a> 3445.48

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 23, 2018

- Bump Ubuntu Trusty stemcells for "USN-3654-2: Linux kernel (Xenial HWE) vulnerabilities"

#### <a id="3445-42"></a> 3445.42

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 01, 2018

- Ubuntu Trusty stemcells periodic update (Apr 30, 2018)

#### <a id="3445-46"></a> 3445.46

**Release Date**: May 21, 2018

- Periodic Ubuntu Trusty stemcell bump (May 21, 2018)

#### <a id="3445-45"></a> 3445.45

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 09, 2018

- Bump Ubuntu Trusty stemcells for "USN-3641-1: Linux kernel vulnerabilities"

#### <a id="3445-44"></a> 3445.44

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 07, 2018

- Ubuntu Trusty stemcells periodic update (May 7, 2018)

#### <a id="3445-32"></a> 3445.32

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: April 06, 2018

- Bump Ubuntu Trusty stemcells for USN-3619-2: Linux kernel (Xenial HWE) vulnerabilities

#### <a id="3445-30"></a> 3445.30

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: March 26, 2018

- Periodic Ubuntu Trusty stemcell bump (March 26/27, 2018)

#### <a id="3445-29"></a> 3445.29

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: March 12, 2018

- Periodic Ubuntu Trusty stemcell bump (March 12, 2018)

#### <a id="3445-28"></a> 3445.28

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: February 22, 2018

- Bump Ubuntu Trusty stemcells for USN-3582-2: Linux kernel (Xenial HWE) vulnerabilities

#### <a id="3445-25"></a> 3445.25

**Release Date**: February 05, 2018

- [Feb 5] Periodic stemcell bump

#### <a id="3445-24"></a> 3445.24

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 23, 2018

- Bump Ubuntu Trusty stemcells for [USN-3540-2: Linux kernel (Xenial HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3540-2/) (This flaw is known as Spectre.)

#### <a id="3445-23"></a> 3445.23

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 17, 2018

- Bump Ubuntu Trusty stemcells for USN-3534-1: GNU C Library vulnerabilities

#### <a id="3445-22"></a> 3445.22

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 10, 2018

- Bump Ubuntu Trusty stemcells for [USN-3522-4: Linux kernel (Xenial HWE) regression](https://usn.ubuntu.com/usn/usn-3522-4/)
- Configure vSphere stemcells to use VM hardware version 9 (requires ESXi 5.1) to be compatible with 
https://www.vmware.com/us/security/advisories/VMSA-2018-0004.html

#### <a id="3445-21"></a> 3445.21

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 10, 2018

- Bump Ubuntu Trusty stemcells for [USN-3522-2: Linux (Xenial HWE) vulnerability](https://usn.ubuntu.com/usn/usn-3522-2/) (This flaw is known as Meltdown.)

#### <a id="3445-19"></a> 3445.19

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: December 08, 2017

- Bump Ubuntu Trusty stemcell USN-3509-2: Linux kernel (Xenial HWE) vulnerabilities

#### <a id="3445-18"></a> 3445.18

**Release Date**: December 06, 2017

- Bump Ubuntu Trusty stemcells for USN-3505-1: Linux firmware vulnerabilities


#### <a id="3445-17"></a> 3445.17

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: November 21, 2017

- Periodic Ubuntu stemcells update

#### <a id="3445-11"></a> 3445.11

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: September 19, 2017

- Bump Ubuntu stemcells for USN-3420-2: Linux kernel (Xenial HWE) vulnerabilities

#### <a id="3445-7"></a> 3445.7

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: August 30, 2017

- Logrotate /var/log/wtmp and utmp more aggressively
- Updated BOSH agent to include aggressive 5 minute timeout on NATS connection failure
- Set auditd rules to be mutable by default
  - Please use `auditd` job from os-conf-release to make rules immutable

#### <a id="3445-2"></a> 3445.2

**Release Date**: August 16, 2017

- Bump Ubuntu stemcells for [USN-3392-2: Linux kernel (Xenial HWE) regression](https://usn.ubuntu.com/usn/usn-3392-2/)

#### <a id="3445"></a> 3445

**Release Date**: August 11, 2017

- Bump Ubuntu stemcells for [USN-3385-2: Linux kernel (Xenial HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3385-2/)
- Include gcscli for native GCS support
- Bump bosh-agent to include support for colocated errand jobs
- Fix occasional rsyslog hang on startup (as a workaround for https://github.com/rsyslog/rsyslog/issues/1188)

### <a id="3431-line"></a> 3431.x 

This section includes release notes for the 3431 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="3431-13"></a> 3431.13

**Release Date**: August 03, 2017

- Bump version (no change)

#### <a id="3431-11"></a> 3431.11

**Release Date**: August 03, 2017

- Bump Ubuntu Trusty stemcells for [USN-3378-2: Linux kernel (Xenial HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3378-2/)
- Fix occasional rsyslog hang on startup
  - Workaround for https://github.com/rsyslog/rsyslog/issues/1188

#### <a id="3431-10"></a> 3431.10

**Release Date**: July 31, 2017

- Periodic Ubuntu stemcells update

### <a id="3422-line"></a> 3422.x 

This section includes release notes for the 3422 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="3422-7"></a> 3422.7

**Release Date**: November 22, 2017

- Test stemcell for umask changes (based on 3468.x stemcell line)

### <a id="3421-line"></a> 3421.x 

This section includes release notes for the 3421 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="3421-86"></a> 3421.86

**Release Date**: October 02, 2018

Addresses "USN-3776-2: Linux kernel (Xenial HWE) vulnerabilities" (Oct 02, 2018)

#### <a id="3421-83"></a> 3421.83

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: September 24, 2018

Periodic Ubuntu Trusty stemcell bump (Sep 25, 2018)

#### <a id="3421-82"></a> 3421.82

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: September 10, 2018

Periodic Ubuntu Trusty stemcell bump (Sep 10, 2018)

#### <a id="3421-81"></a> 3421.81

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: August 27, 2018

Bump Ubuntu Trusty stemcells for "USN-3756-1: Intel Microcode vulnerabilities"

#### <a id="3421-79"></a> 3421.79

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: August 14, 2018

Bump Ubuntu Trusty stemcells for "USN-3741-2: Linux kernel (Xenial HWE) vulnerabilities"

#### <a id="3421-78"></a> 3421.78

**Release Date**: August 13, 2018

Periodic Ubuntu Trusty stemcell bump (Aug 14, 2018)

#### <a id="3421-70"></a> 3421.70

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: July 30, 2018

Periodic Ubuntu Trusty stemcell bump (July 31, 2018)

#### <a id="3421-69"></a> 3421.69

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: July 16, 2018

Periodic Ubuntu Trusty stemcell bump (July 16, 2018)

#### <a id="3421-68"></a> 3421.68

**Release Date**: July 02, 2018

- Periodic Ubuntu Trusty stemcell bump (July 2, 2018)

#### <a id="3421-66"></a> 3421.66

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: June 18, 2018

- Periodic Ubuntu Trusty stemcell bump (June 18, 2018)

#### <a id="3421-64"></a> 3421.64

**Release Date**: June 04, 2018

- Periodic Ubuntu Trusty stemcell bump (June 4, 2018)

#### <a id="3421-63"></a> 3421.63

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 23, 2018

- Bump Ubuntu Trusty stemcells for "USN-3654-2: Linux kernel (Xenial HWE) vulnerabilities"

#### <a id="3421-56"></a> 3421.56

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 01, 2018

- Ubuntu Trusty stemcells periodic update (Apr 30, 2018)

#### <a id="3421-60"></a> 3421.60

**Release Date**: May 21, 2018

- Periodic Ubuntu Trusty stemcell bump (May 21, 2018)

#### <a id="3421-59"></a> 3421.59

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 09, 2018

- Bump Ubuntu Trusty stemcells for "USN-3641-1: Linux kernel vulnerabilities"

#### <a id="3421-58"></a> 3421.58

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 07, 2018

- Ubuntu Trusty stemcells periodic update (May 7, 2018)

#### <a id="3421-46"></a> 3421.46

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: April 06, 2018

- Bump Ubuntu Trusty stemcells for USN-3619-2: Linux kernel (Xenial HWE) vulnerabilities

#### <a id="3421-44"></a> 3421.44

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: March 26, 2018

- Periodic Ubuntu Trusty stemcell bump (March 26/27, 2018)

#### <a id="3421-43"></a> 3421.43

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: March 12, 2018

- Periodic Ubuntu Trusty stemcell bump (March 12, 2018)

#### <a id="3421-42"></a> 3421.42

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: February 22, 2018

- Bump Ubuntu Trusty stemcells for USN-3582-2: Linux kernel (Xenial HWE) vulnerabilities

#### <a id="3421-39"></a> 3421.39

**Release Date**: February 05, 2018

- [Feb 5] Periodic stemcell bump

#### <a id="3421-38"></a> 3421.38

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 23, 2018

- Bump Ubuntu Trusty stemcells for [USN-3540-2: Linux kernel (Xenial HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3540-2/) (This flaw is known as Spectre.)

#### <a id="3421-37"></a> 3421.37

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 17, 2018

- Bump Ubuntu Trusty stemcells for USN-3534-1: GNU C Library vulnerabilities

#### <a id="3421-36"></a> 3421.36

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 10, 2018

- Bump Ubuntu Trusty stemcells for [USN-3522-4: Linux kernel (Xenial HWE) regression](https://usn.ubuntu.com/usn/usn-3522-4/)
- Configure vSphere stemcells to use VM hardware version 9 (requires ESXi 5.1) to be compatible with 
https://www.vmware.com/us/security/advisories/VMSA-2018-0004.html

#### <a id="3421-35"></a> 3421.35

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 10, 2018

- Bump Ubuntu Trusty stemcells for [USN-3522-2: Linux (Xenial HWE) vulnerability](https://usn.ubuntu.com/usn/usn-3522-2/) (This flaw is known as Meltdown.)

#### <a id="3421-34"></a> 3421.34

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: December 08, 2017

- Bump Ubuntu Trusty stemcell USN-3509-2: Linux kernel (Xenial HWE) vulnerabilities

#### <a id="3421-33"></a> 3421.33

**Release Date**: December 06, 2017

- Bump Ubuntu Trusty stemcells for USN-3505-1: Linux firmware vulnerabilities


#### <a id="3421-32"></a> 3421.32

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: November 21, 2017

- Periodic Ubuntu stemcells update

#### <a id="3421-20"></a> 3421.20

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: August 16, 2017

- Bump Ubuntu stemcells for [USN-3392-2: Linux kernel (Xenial HWE) regression](https://usn.ubuntu.com/usn/usn-3392-2/)

#### <a id="3421-19"></a> 3421.19

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: August 11, 2017

- Bump Ubuntu stemcells for [USN-3385-2: Linux kernel (Xenial HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3385-2/)

#### <a id="3421-18"></a> 3421.18

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: August 03, 2017

- Bump Ubuntu Trusty stemcells for [USN-3378-2: Linux kernel (Xenial HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3378-2/)
- Fix occasional rsyslog hang on startup
  - Workaround for https://github.com/rsyslog/rsyslog/issues/1188

#### <a id="3421-11"></a> 3421.11

**Release Date**: June 29, 2017

- Bump Ubuntu stemcells for USN-3344-2: Linux kernel (Xenial HWE) vulnerabilities

#### <a id="3421-9"></a> 3421.9

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: June 21, 2017

- Bump Ubuntu stemcells for USN-3334-1: Linux kernel (Xenial HWE) vulnerabilities

#### <a id="3421-6"></a> 3421.6

**Release Date**: June 09, 2017

* Bump Ubuntu stemcells for USN-3312-2 - Linux kernel vulnerabilities

#### <a id="3421-4"></a> 3421.4

**Release Date**: June 01, 2017

- Bump CentOS stemcells for CESA-2017:1382 - sudo vulnerability

#### <a id="3421-3"></a> 3421.3

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 30, 2017

- Bump Ubuntu stemcells for USN-3304-1: Sudo vulnerability

#### <a id="3421"></a> 3421

**Release Date**: May 22, 2017

New:

- Added `env.bosh.remove_static_libraries` (bool) to remove static libraries
  - Useful to enable this option when exporting compiled releases
- Added `env.bosh.ipv6.enable` (bool) to remove ipv6.disable kernel functionality at bootup time

Fixes:

- Fixed sysstat logging
- Fixed anacron's RANDOM_DELAY configuration

Bumps:

- Bumped s3cli v0.0.60
  - Updated aws-sdk-go to solve network timeout edge case
- Bumped davcli v0.0.19
  - Use TCP keep alive to solve network timeout edge case
- Bumped bosh-agent v0.0.35
  - Add `-v` to the Agent binary
  - Prepared `sync_dns` action to work with future Director's DNS integration

### <a id="3363-line"></a> 3363.x 

This section includes release notes for the 3363 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="3363-65"></a> 3363.65

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: June 18, 2018

- Periodic Ubuntu Trusty stemcell bump (July 18, 2018)

#### <a id="3363-64"></a> 3363.64

**Release Date**: June 04, 2018

- Periodic Ubuntu Trusty stemcell bump (June 4, 2018)

#### <a id="3363-63"></a> 3363.63

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 23, 2018

- Bump Ubuntu Trusty stemcells for "USN-3654-2: Linux kernel (Xenial HWE) vulnerabilities"

#### <a id="3363-62"></a> 3363.62

**Release Date**: May 21, 2018

- Periodic Ubuntu Trusty stemcell bump (May 21, 2018)

#### <a id="3363-61"></a> 3363.61

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 09, 2018

- Bump Ubuntu Trusty stemcells for "USN-3641-1: Linux kernel vulnerabilities"

#### <a id="3363-60"></a> 3363.60

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 07, 2018

- Ubuntu Trusty stemcells periodic update (May 7, 2018)

#### <a id="3363-53"></a> 3363.53

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: April 06, 2018

- Bump Ubuntu Trusty stemcells for USN-3619-2: Linux kernel (Xenial HWE) vulnerabilities

#### <a id="3363-52"></a> 3363.52

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: March 26, 2018

- Periodic Ubuntu Trusty stemcell bump (March 26/27, 2018)

#### <a id="3363-51"></a> 3363.51

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: March 12, 2018

- Periodic Ubuntu Trusty stemcell bump (March 12, 2018)

#### <a id="3363-50"></a> 3363.50

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: February 22, 2018

- Bump Ubuntu Trusty stemcells for USN-3582-2: Linux kernel (Xenial HWE) vulnerabilities

#### <a id="3363-49"></a> 3363.49

**Release Date**: February 05, 2018

- [Feb 5] Periodic stemcell bump

#### <a id="3363-48"></a> 3363.48

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 23, 2018

- Bump Ubuntu Trusty stemcells for [USN-3540-2: Linux kernel (Xenial HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3540-2/) (This flaw is known as Spectre.)

#### <a id="3363-47"></a> 3363.47

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 17, 2018

- Bump Ubuntu Trusty stemcells for USN-3534-1: GNU C Library vulnerabilities

#### <a id="3363-46"></a> 3363.46

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 10, 2018

- Bump Ubuntu Trusty stemcells for [USN-3522-4: Linux kernel (Xenial HWE) regression](https://usn.ubuntu.com/usn/usn-3522-4/)
- Configure vSphere stemcells to use VM hardware version 9 (requires ESXi 5.1) to be compatible with 
https://www.vmware.com/us/security/advisories/VMSA-2018-0004.html

#### <a id="3363-45"></a> 3363.45

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 10, 2018

- Bump Ubuntu Trusty stemcells for [USN-3522-2: Linux (Xenial HWE) vulnerability](https://usn.ubuntu.com/usn/usn-3522-2/) (This flaw is known as Meltdown.)

#### <a id="3363-44"></a> 3363.44

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: December 08, 2017

- Bump Ubuntu Trusty stemcell USN-3509-2: Linux kernel (Xenial HWE) vulnerabilities

#### <a id="3363-43"></a> 3363.43

**Release Date**: December 06, 2017

- Bump Ubuntu Trusty stemcells for USN-3505-1: Linux firmware vulnerabilities


#### <a id="3363-42"></a> 3363.42

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: November 21, 2017

- Periodic Ubuntu stemcells update

#### <a id="3363-24"></a> 3363.24

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: May 17, 2017

- Periodic Ubuntu stemcells update

#### <a id="3363-22"></a> 3363.22

**Release Date**: May 11, 2017

- Periodic Ubuntu stemcells update
- Run `cron` in BOSH Lite stemcells so that logrotation is performed

#### <a id="3363-20"></a> 3363.20

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: April 25, 2017

- Bump Ubuntu stemcells for USN-3265-2: Linux kernel (Xenial HWE) vulnerabilities

#### <a id="3363-19"></a> 3363.19

**Release Date**: April 17, 2017

- Periodic bump for CentOS stemcells to include CESA-2017:0933
- Disable IPv6 through /proc/cmdline to eliminate possibilty of listening on tcp6/udp6

#### <a id="3363-15"></a> 3363.15

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: April 05, 2017

- Bump Ubuntu stemcells for USN-3256-2: Linux kernel (HWE) vulnerability

Misc:

- Made AWS AMI backing snapshot public to support encryption of boot disks

#### <a id="3363-14"></a> 3363.14

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: March 30, 2017

- Bump Ubuntu stemcells for USN-3249-2: Linux kernel (Xenial HWE) vulnerability

#### <a id="3363-10"></a> 3363.10

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: March 08, 2017

- Bumps Ubuntu stemcells for USN-3220-2: Linux kernel (Xenial HWE) vulnerability

#### <a id="3363-9"></a> 3363.9

**Release Date**: February 22, 2017

Changes:
- Bumps Ubuntu stemcells for USN-3208-2: Linux kernel (Xenial HWE) vulnerabilities
- Fixes excessive "out of memory" errors in kernel
  - https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1655842
- Fixes regression to rsyslog by locking it down again to rsyslog 8.22.0

Agent:
- Fixes Azure stemcell persistent disk formatting
- Fixes Warden stemcells SSH access


#### <a id="3363-1"></a> 3363.1

**Release Date**: February 15, 2017

Reported Problems:
- DO NOT USE _azure_ stemcell as it may cause data loss.
- rsyslog version updated to 8.24.0, regressing on issue #1537 
- [Out of memory errors still exists in Kernel 4.4.0.62](https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1655842)
  - will be fixed around Feb 20.

Changes:
- Fixes double -hvm- suffix problem for AWS Light stemcells


#### <a id="3363"></a> 3363

**Release Date**: February 15, 2017

Reported Problems:
- DO NOT USE _azure_ stemcell as it may cause data loss.
- [Out of memory errors still exists in Kernel 4.4.0.62](https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1655842)
  - will be fixed around Feb 20.
- rsyslog version updated to 8.24.0, regressing on issue #1537
- AWS Light stemcell has incorrect name once imported
- BOSH SSH does not work on BOSH Lite

Changes:
- Add more auditd rules
- Fix CentOS initramfs to load necessary kernel modules
- Disable boot loader login
- Increasing tcp_max_sync_backlog
- Disabling any DSA host keys
- Add `bosh_sshers` group and assign it to vcap user
  - Only allow users in `bosh_sshers` group to SSH

Agent:
- Log Agent API access events in CEF format to syslog (vcap.agent topic)
- Allow configuring swap size through `env.bosh.swap_size` (example: `env.bosh.swap_size: 0`)
- Prepare for SHA2 releases
- Allow setting fetching to work with base64 encoded user data
- Do not delaycompress in logrotate


### <a id="3312-line"></a> 3312.x 

This section includes release notes for the 3312 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="3312-51"></a> 3312.51

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 23, 2018

- Bump Ubuntu Trusty stemcells for [USN-3540-2: Linux kernel (Xenial HWE) vulnerabilities](https://usn.ubuntu.com/usn/usn-3540-2/) (This flaw is known as Spectre.)

#### <a id="3312-50"></a> 3312.50

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 10, 2018

- Bump Ubuntu Trusty stemcells for [USN-3522-4: Linux kernel (Xenial HWE) regression](https://usn.ubuntu.com/usn/usn-3522-4/)
- Configure vSphere stemcells to use VM hardware version 9 (requires ESXi 5.1) to be compatible with 
https://www.vmware.com/us/security/advisories/VMSA-2018-0004.html

#### <a id="3312-49"></a> 3312.49

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: January 09, 2018

- Bump Ubuntu Trusty stemcells for [USN-3522-2: Linux (Xenial HWE) vulnerability](https://usn.ubuntu.com/usn/usn-3522-2/) (This flaw is known as Meltdown.)

#### <a id="3312-48"></a> 3312.48

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: December 08, 2017

- Bump Ubuntu Trusty stemcell USN-3509-2: Linux kernel (Xenial HWE) vulnerabilities

#### <a id="3312-47"></a> 3312.47

**Release Date**: December 06, 2017

- Bump Ubuntu Trusty stemcells for USN-3505-1: Linux firmware vulnerabilities


#### <a id="3312-46"></a> 3312.46

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: November 21, 2017

- Periodic Ubuntu stemcells update

#### <a id="3312-17"></a> 3312.17

**Release Date**: January 31, 2017

Reported Problems:
- [Memory leak bug in Kernel 4.4.0-59](https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1655842)

Changes:
- Periodic stemcell update


#### <a id="3312-15"></a> 3312.15

**Release Date**: January 12, 2017

Reported Problems:
- [Memory leak bug in Kernel 4.4.0-59](https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1655842)

Changes:
- Periodic stemcell update


#### <a id="3312-12"></a> 3312.12

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: December 20, 2016

- Lock down rsyslog to 8.22.0 to avoid high memory usage issue https://github.com/cloudfoundry/bosh/issues/1537


#### <a id="3312-9"></a> 3312.9

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: December 15, 2016

- Updates Azure Ubuntu stemcells to use parted partitioner to fix slow disk partitioning
  - Related issue: https://github.com/cloudfoundry-incubator/bosh-azure-cpi-release/issues/227


#### <a id="3312-8"></a> 3312.8

**Release Date**: December 14, 2016

- Bumps Ubuntu stemcells for USN-3156-1: APT vulnerability


#### <a id="3312-7"></a> 3312.7

**Release Date**: December 06, 2016

- Bump Ubuntu stemcells for [USN-3151-2: Linux kernel (Xenial HWE) vulnerability](https://www.ubuntu.com/usn/usn-3151-2/)


#### <a id="3312-6"></a> 3312.6

**Release Date**: December 02, 2016

- Periodic stemcell update


#### <a id="3312-3"></a> 3312.3

**Release Date**: November 30, 2016

- Periodic stemcell update
  - Includes [USN-3134-1](https://www.ubuntu.com/usn/usn-3134-1/) as requested by a community member


#### <a id="3312"></a> 3312

**Release Date**: November 16, 2016

- Properly includes `libpam_cracklib.so`  to avoid errors in `/var/log/auth.log`


### <a id="3309-line"></a> 3309.x 

This section includes release notes for the 3309 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="3309"></a> 3309

**Release Date**: November 10, 2016

- Fixes persistent disk mounting on OpenStack described in [Stemcell 3308](https://github.com/cloudfoundry/bosh/releases/tag/stable-3308)


### <a id="3308-line"></a> 3308.x 

This section includes release notes for the 3308 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="3308"></a> 3308

**Release Date**: November 09, 2016

Reported Problems:
- On OpenStack: Mounting persistent disks not working when using `config-drive: disk` while nova is configured to use a `cdrom` config-drive due to https://github.com/cloudfoundry/bosh/issues/1503

Fixes:
- Fixes SSH key installation issue introduced in [Stemcell 3306](https://github.com/cloudfoundry/bosh/releases/tag/stable-3306)


### <a id="3306-line"></a> 3306.x 

This section includes release notes for the 3306 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="3306"></a> 3306

**Release Date**: November 08, 2016

Reported Problems
- `bosh-init` doesn't work with this stemcell on OpenStack and AWS due to https://github.com/cloudfoundry/bosh/issues/1500
- Booting the stemcell image directly in you IaaS (without using BOSH/bosh-init) does no longer provision the ssh key for user `vcap`, so you need to login differently

Changes
- Agent will now wait for monit to complete stop all processes before carrying on
- Added google stemcells
- Default dmesg_restrict to 1
- Disable all IPv6 configurations
- Reenabled UDF kernel module for Azure
- Increase root_maxkeys and maxkeys kernel configurations
- Changed default hostname to bosh-stemcell instead of localhost to avoid boot problems on GCP
- Lower TCP keepalive configuration by default
- Mount /var/log directory to /var/vcap/data/root_log
- Restrict Access to the su command
- Add pam_cracklib requirements to common-password and password-auth
- Enable auditing for processes that start prior to auditd
- Set log rotation interval to 15 min in stemcell
- Made ownership & permissions for /etc/cron\* files more restrictive
- Customize shell prompt to show instance name and ID
- Removed floppy drives from vSphere stemcells
- Removed `bosh micro` assets hence making `bosh micro` unsupported

Misc:
- Stemcells are now built through Concourse via https://main.bosh-ci.cf-app.com/teams/main/pipelines/bosh:stemcells


### <a id="3263-line"></a> 3263.x 

This section includes release notes for the 3263 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="3263-10"></a> 3263.10

**Release Date**: November 03, 2016

- Updates CentOS kernel to the latest version for "Dirty COW"
  - Ubuntu stemcells were updated in previous versions at the time of Ubuntu USN updates
- Includes fix to the bosh-agent to better support 1TB+ disk partitioning


#### <a id="3263-8"></a> 3263.8

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: October 21, 2016

- Bump Ubuntu stemcells for USN-3106-2: Linux kernel (Xenial HWE) vulnerability
- Includes a fix to the bosh-agent to work more reliably with 2TB+ persistent disks


#### <a id="3263-7"></a> 3263.7

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: October 12, 2016

- Bump Ubuntu stemcells for USN-3099-2: Linux kernel (Xenial HWE) vulnerabilities


#### <a id="3263-5"></a> 3263.5

**Release Date**: September 30, 2016

- Periodic bump
- Delay start of rsyslogd using systemd on CentOS


#### <a id="3263-4"></a> 3263.4

**Release Date**: September 28, 2016

- google-kvm: improve the `google-*` daemon configurations
  - fixes `ssh: handshake failed` errors on boot


#### <a id="3263-3"></a> 3263.3

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: September 26, 2016

- Bumps Ubuntu stemcells for [USN-3087-2](http://www.ubuntu.com/usn/usn-3087-2/) (OpenSSL regression)


#### <a id="3263"></a> 3263

**Release Date**: September 19, 2016

- Bumps Ubuntu to Linux kernel to 4.4

Based on 3262 stemcells.
**Note: OpenStack stemcells series 3263 is broken due to https://github.com/cloudfoundry/bosh-agent/issues/98 and should not be used**


### <a id="3262-line"></a> 3262.x 

This section includes release notes for the 3262 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="3262-21"></a> 3262.21

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: October 13, 2016

- Bump Ubuntu stemcells for USN-3099-2: Linux kernel (Xenial HWE) vulnerabilities


#### <a id="3262-19"></a> 3262.19

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: September 28, 2016

- google-kvm: improve the `google-*` daemon configurations
  - fixes `ssh: handshake failed` errors on boot


#### <a id="3262-16"></a> 3262.16

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: September 26, 2016

- Bumps Ubuntu stemcells for [USN-3087-2](http://www.ubuntu.com/usn/usn-3087-2/) (OpenSSL regression)


#### <a id="3262-15"></a> 3262.15

**Release Date**: September 23, 2016

- Bumps Ubuntu stemcells for USN-3087-1: OpenSSL vulnerabilities


### <a id="3233-line"></a> 3233.x 

This section includes release notes for the 3233 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="3233-1"></a> 3233.1

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: September 27, 2016

- Bumps Ubuntu stemcells for [USN-3087-2](http://www.ubuntu.com/usn/usn-3087-2/) (OpenSSL regression)


#### <a id='critical'></a> USN-3522-2 Addresses Meltdown Vulnerabilities

Meltdown exploits critical vulnerabilities in modern processors.
For more information about Meltdown, see the [Meltdown and Spectre Attacks](https://www.cloudfoundry.org/blog/meltdown-spectre-attacks/) blog post.
[USN-3522-2](https://www.cloudfoundry.org/usn-3522-2/) addresses the critical vulnerability in Ubuntu associated with Meltdown.
</br>
</br>
This update may include degradations to performance if your VM's CPU and memory usage are currently at near-capacity levels.
Prior to upgrading to this stemcell, monitor your PCF VM's current CPU and memory usage and scale those components if necessary. If any of your VMs are currently operating at 60% or above, Pivotal recommends scaling that VM.
For more information about the performance impact of Meltdown-related stemcell patches on PCF components and guidance on scaling, see this [KB article](https://community.pivotal.io/s/article/Performance-Impact-of-Cloud-Foundry-Apps-and-Services-Because-of-Spectre-and-Meltdown).
</br>
</br>
For more information about monitoring and scaling PCF, see the [Monitoring PCF VMs from Ops Manager](http://docs.pivotal.io/pivotalcf/2-0/customizing/monitoring.html),
[Key Capacity Scaling Indicators](https://docs.pivotal.io/pivotalcf/monitoring/key-cap-scaling.html),
and [Scaling PAS](../opsguide/scaling-ert-components.html) topics. Performance degradation is likely to vary by workload type, IaaS, and other factors.
Pivotal recommends testing your deployment thoroughly after upgrading to this stemcell.


### <a id="3232-line"></a> 3232.x 

This section includes release notes for the 3232 line of Linux stemcells used with Pivotal Cloud Foundry (PCF).

#### <a id="3232-21"></a> 3232.21

<span class='pivnet'>Available in Pivotal Network</span>

**Release Date**: September 26, 2016

- Bumps Ubuntu stemcells for [USN-3087-2](http://www.ubuntu.com/usn/usn-3087-2/) (OpenSSL regression)


