---
title: Stemcell v1803.x (Windows Server version 1803) Release Notes
owner: Windows
---

This topic includes release notes for Windows stemcells used with Pivotal Application Service for Windows (PASW) v2.3. 

The stemcell is based on Windows Server, version 1803.

To download a stemcell, see [Stemcells for PCF (Windows)](https://network.pivotal.io/products/stemcells-windows-server) on Pivotal Network.

## <a id="1803.3"></a>1803.3

**Release Date**: October 30, 2018
### Features
- Intended for use with [October 2018 Microsoft Security Updates](https://support.microsoft.com/en-us/help/4462919/windows-10-update-kb4462919).
- Disable RDP by default to improve security of the 1803 stemcells. You can still enable RDP through the PASW Tile Configuration. 

### Bug Fix
- Intermittent "Access denied" errors during compilation phase of PASW deployments. We have added a fix to potentially resolve them.
- Fixed the Ephemeral Disk Provisioning for Azure enabling compatibility of PASW's ephemeral disk functionality with OpsMgr on Azure. 

## <a id="1803.2"></a>1803.2

**Release Date**: October 1, 2018

### Features

- Includes ephemeral disk support. 
This enables you to configure the size of your Windows cells in the PASW tile. For more information, see the [Configure Tile Resources](https://docs.pivotal.io/pivotalcf/2-3/windows/installing.html#resources) section in _Installing and Configuring PAS for Windows_. This also allows you to reduce your root disk to a minimum of 30 GB. 
- Intended for use with the [September 2018](https://support.microsoft.com/en-us/help/4464218) Microsoft Security Updates. 

### Bug Fix
- Previously, the `os_version` argument was mandatory during the `Invoke-Sysprep` step.
The OS is now detected by default, and the `os_version` argument is optional.

## <a id="1803.1"></a>1803.1

**Release Date**: September 24, 2018

### Features

- This is the first 1803 stemcell.
- Intended for use with the [August 2018](https://support.microsoft.com/en-ca/help/4343909/windows-10-update-kb4343909) Microsoft Security Updates. 
- Includes an important Microsoft Security Update that provides protections against a new speculative execution side-channel vulnerability known as L1 Terminal Fault (L1TF). For more information, see [Windows Support](https://support.microsoft.com/en-ca/help/4343909/windows-10-update-kb4343909).
- Compatible with the latest stable OpenSSH version, `OpenSSH_for_Windows_v7.7.2.0p1`.

### Known Issue

-  The v1803.1 Windows stemcell does not support ephemeral disks. 
Support for ephemeral disks is expected in v1803.2. 
This enables you to configure the size of your Windows cells in the PAS for Windows tile. For more information, see [Step 4: Configure Tile Resources](https://docs.pivotal.io/pivotalcf/2-3/windows/installing.html#resources) of <em>Installing and Configuring PAS for Windows</em>.
