---
title: Tiles Using Xenial Stemcells
Owner: Master Pipeline
modified_date: false
---

This table provides a quick reference to <%= vars.platform_name %> product versions that use Xenial
stemcells.

## Products Using Xenial Stemcells

<table>
  <tr>
    <th><strong>Product/Component</strong></th>
    <th><strong>Starting Version</strong></th>
    <th><strong>Documentation Link</strong></th>
  </tr>

  <tr>
    <td><%= vars.platform_name %></td>
    <td>v2.3</td>
    <td><a href="https://docs.pivotal.io/ops-manager/2-10/index.html">Current Documentation</a>
    </td>
  </tr>

  <tr>
    <td><%= vars.app_runtime_full %></td>
    <td>v2.3</td>
    <td><a href="https://docs.pivotal.io/application-service/2-13/concepts/overview.html">Current Documentation</a></td>
  </tr>

  <tr>
    <td>VMware Tanzu Kubernetes Grid Integrated Edition</td>
    <td>v1.2</td>
    <td><a href="https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.14/tkgi/GUID-index.html">Current Documentation</a></td>
  </tr>

  <tr>
    <td>Event Alerts</td>
    <td>v1.2.3</td>
    <td><a href="https://docs.pivotal.io/event-alerts/1-2/index.html">Current Documentation</a></td>
  </tr>

  <tr>
    <td>VMware Tanzu SQL [MySQL]</td>
    <td>v2.4</td>
    <td><a href="https://docs.pivotal.io/p-mysql/2-10/index.html">Current Documentation</a></td>
  </tr>

  <tr>
    <td>VMware Tanzu RabbitMQ for VMs</td>
    <td>v1.14.1</td>
    <td><a href="https://docs.vmware.com/en/VMware-Tanzu-RabbitMQ-for-VMs/2.0/tanzu-rmq/GUID-index.html">Current Documentation</a></td>
  </tr>

  <tr>
    <td>Redis for VMware Tanzu Application Service</td>
    <td>v1.14.0</td>
    <td><a href="https://docs.pivotal.io/redis/3-1/index.html">Current Documentation</a></td>
  </tr>

  <tr>
    <td>Scheduler</td>
    <td>v1.2.3</td>
    <td><a href="https://docs.pivotal.io/scheduler/1-6/index.html">Current Documentation</a></td>
  </tr>

  <tr>
    <td>Single Sign-On for VMware Tanzu</td>
    <td>v1.7.1</td>
    <td><a href="https://docs.pivotal.io/p-identity/1-14/index.html">Current Documentation</a></td>
  </tr>

  <tr>
    <td>Spring Cloud Data Flow</td>
    <td>v1.2.0</td>
    <td><a href="https://docs.vmware.com/en/Spring-Cloud-Data-Flow-for-VMware-Tanzu/1.12/spring-cloud-data-flow/GUID-index.html">Current Documentation</a></td>
  </tr>

  <tr>
    <td>Spring Cloud Services</td>
    <td>v2.0.2</td>
    <td><a href="https://docs.vmware.com/en/Spring-Cloud-Services-for-VMware-Tanzu/3.1/spring-cloud-services/GUID-index.html">Current Documentation</a></td>
  </tr>
</table>
