---
title: Tiles Using Xenial Stemcells in PCF
Owner: Master Pipeline
---

This table provides a quick reference of PCF product versions that are now using Xenial stemcells. 

## Products Using Xenial Stemcells

If a product is not yet listed, the product still uses Trusty stemcells.

<table>
<tbody>
<tr>
<th><strong>Product/Component</strong></th>
<th><strong>Starting Version</strong></th>
<th><strong>Release Notes Link</strong></th>
</tr>

<tr>
<td>
PCF Operations Manager
</td>
<td>
v2.3
</td>
<td>
<a href="https://docs.pivotal.io/pivotalcf/2-3/pcf-release-notes/opsmanager-rn.html#xenial">Release Notes</a></td>
</tr>

<tr>
<td>
Pivotal Application Service (PAS)
</td>
<td>
v2.3
</td>
<td>
<a href="https://docs.pivotal.io/pivotalcf/2-3/pcf-release-notes/runtime-rn.html#xenial">Release Notes</a></td>
</tr>

<tr>
<td>
PCF Event Alerts
</td>
<td>
v1.2.3
</td>
<td>
<a href="https://docs.pivotal.io/event-alerts/1-2/release-notes.html#ver-1-2-3">Release Notes</a></td>
</tr>

<tr>
<td>
Metrics Forwarder for PCF
</td>
<td>
v1.11.3
</td>
<td>
<a href="https://docs.pivotal.io/metrics-forwarder/release-notes.html#111-3">Release Notes</a></td>
</tr>

<tr>
<td>
MySQL for PCF
</td>
<td>
v2.4
</td>
<td>
<a href="https://docs.pivotal.io/p-mysql/2-4/release-notes.html">Release Notes</a></td>
</tr>

<tr>
<td>
Scheduler for PCF
</td>
<td>
v1.2.3
</td>
<td>
<a href="https://docs.pivotal.io/pcf-scheduler/1-2/release-notes.html#1-2-3">Release Notes</a></td>
</tr> 

<tr>
<td>
Single Sign-On (SSO) for PCF
</td>
<td>
v1.7.1
</td>
<td>
<a href="https://docs.pivotal.io/p-identity/1-7/release-notes.html#171">Release Notes</a></td>
</td>
</tr>

<tr>
<td>
Spring Cloud Data Flow
<td>
v1.2.0
</td>
<td>
<a href="https://docs.pivotal.io/scdf/1-2/release-notes.html#1-2-0">Release Notes</a>
</td>
</tr>

<tr>
<td>
Spring Cloud Services for PCF
</td>
<td>
v2.0.2
</td>
<td>
<a href="https://docs.pivotal.io/spring-cloud-services/2-0/release-notes.html#2-0-2">Release Notes</a>
</td>
</tr>
</tbody>
</table>

## Xenial Stemcell Support in Ops Manager

You can import and use Xenial stemcell-based tiles starting in the following versions of Ops Manager:

* v2.1.15 or later 
* v2.2.2 and later
* v2.3.x

For more information about the introduction of Xenial stemcells to your PCF deployment, 
see [Updates for Xenial Stemcell Support](https://docs.pivotal.io/pivotalcf/2-3/pcf-release-notes/breaking-changes.html#xenial) 
in the _Pivotal Cloud Foundry v2.3 Breaking Changes Release Notes_.






