#### <a id="tls-compatible"></a> TLS for Internal Blobstore Supported

Starting with version v3586.16, you can install a stemcell that allows you to enable TLS for your internal blobstore. The TLS feature is available for Ops Manager v2.2 and later.