#### <a id="tls-compatible"></a> TLS for Internal Blobstore Supported

For Ops Manager v2.2 to v2.7, you can enable TLS for your internal blobstore. Make sure you configured all tiles with a stemcell v3586 or later before enabling TLS for your internal blobstore.

For more information, see [TLS for Internal Blobstore Supported
](https://docs.pivotal.io/pivotalcf/2-2/pcf-release-notes/opsmanager-rn.html#tls-blobstore) in _Ops Manager v2.2 Release Notes_.